In [1]:
import pandas as pd

#Load the data
file_path = r'C:\Users\Jose Zambom\OneDrive - Exel Industries\Data Analysis\Data Analytics Immersion\Data Ethics & Applied Analytics\5.4-PigEBank-Client-Data set.xlsx'
df = pd.read_excel(file_path)

In [3]:
#Display basic information
print(df.info)

<bound method DataFrame.info of      Row_Number  Customer_ID Last_Name  Credit Score Country  Gender   Age  \
0             1     15634602  Hargrave         619.0  France  Female  42.0
1             2     15647311      Hill         608.0   Spain  Female  41.0
2             3     15619304      Onio         502.0  France  Female  42.0
3             4     15701354      Boni         699.0  France  Female  39.0
4             5     15737888  Mitchell         850.0   Spain  Female  43.0
..          ...          ...       ...           ...     ...     ...   ...
986         987     15655339   Spencer         566.0  France    Male  36.0
987         988     15613749      Lees         569.0      ES    Male  34.0
988         989     15664521     David         659.0      ES    Male  31.0
989         990     15681206     Hsing         722.0  France  Female  49.0
990         991     15745527     Burke         655.0  France    Male  37.0

     Tenure    Balance  NumOfProducts  HasCrCard?  IsActiveMember  \
0         2       0.00              1           1               1
1         1   83807.86              1           0               1
2         8  159660.80              3           1               0
3         1       0.00              2           0               0
4         2  125510.82              1           1               1
..      ...        ...            ...         ...             ...
986       1  142120.91              1           1               0
987       0  151839.26              1           1               0
988       7  149620.88              2           1               1
989       3  168197.66              1           1               0
990       5   93147.00              2           1               0

     Estimated Salary  ExitedFromBank?
0           101348.88                1
1           112542.58                0
2           113931.57                1
3            93826.63                0
4            79084.10                0
..                ...              ...
986          79616.37                0
987         102299.81                1
988         104533.51                0
989         140765.57                1
990          66214.13                0

[991 rows x 14 columns]>

In [4]:
print(df.describe(include='all'))

        Row_Number   Customer_ID Last_Name  Credit Score Country Gender  \
count    991.00000  9.910000e+02       990    988.000000     991    990
unique         NaN           NaN       734           NaN       6      4
top            NaN           NaN      Shih           NaN      FR   Male
freq           NaN           NaN         6           NaN     244    479
mean     496.00000  1.569232e+07       NaN    648.512146     NaN    NaN
std      286.22136  7.223333e+04       NaN     98.202853     NaN    NaN
min        1.00000  1.556609e+07       NaN    376.000000     NaN    NaN
25%      248.50000  1.563019e+07       NaN    579.750000     NaN    NaN
50%      496.00000  1.569275e+07       NaN    653.500000     NaN    NaN
75%      743.50000  1.575379e+07       NaN    721.000000     NaN    NaN
max      991.00000  1.581536e+07       NaN    850.000000     NaN    NaN

               Age      Tenure        Balance  NumOfProducts  HasCrCard?  \
count   990.000000  991.000000     991.000000     991.000000  991.000000
unique         NaN         NaN            NaN            NaN         NaN
top            NaN         NaN            NaN            NaN         NaN
freq           NaN         NaN            NaN            NaN         NaN
mean     38.684848    5.066599   78002.718063       1.522704    0.706357
std      10.958220    2.928371   62799.237345       0.573170    0.455660
min       2.000000    0.000000       0.000000       1.000000    0.000000
25%      32.000000    2.000000       0.000000       1.000000    0.000000
50%      37.000000    5.000000   98668.180000       1.000000    1.000000
75%      44.000000    8.000000  129461.850000       2.000000    1.000000
max      82.000000   10.000000  213146.200000       4.000000    1.000000

        IsActiveMember  Estimated Salary  ExitedFromBank?
count       991.000000        989.000000       991.000000
unique             NaN               NaN              NaN
top                NaN               NaN              NaN
freq               NaN               NaN              NaN
mean          0.507568      98574.543013         0.205853
std           0.500195      57224.716446         0.404527
min           0.000000        371.050000         0.000000
25%           0.000000      48559.190000         0.000000
50%           1.000000      98368.240000         0.000000
75%           1.000000     146326.450000         0.000000
max           1.000000     199725.390000         1.000000

In [5]:
print(df.head())

   Row_Number  Customer_ID Last_Name  Credit Score Country  Gender   Age  \
0           1     15634602  Hargrave         619.0  France  Female  42.0
1           2     15647311      Hill         608.0   Spain  Female  41.0
2           3     15619304      Onio         502.0  France  Female  42.0
3           4     15701354      Boni         699.0  France  Female  39.0
4           5     15737888  Mitchell         850.0   Spain  Female  43.0

   Tenure    Balance  NumOfProducts  HasCrCard?  IsActiveMember  \
0       2       0.00              1           1               1
1       1   83807.86              1           0               1
2       8  159660.80              3           1               0
3       1       0.00              2           0               0
4       2  125510.82              1           1               1

   Estimated Salary  ExitedFromBank?
0         101348.88                1
1         112542.58                0
2         113931.57                1
3          93826.63                0
4          79084.10                0

In [8]:
# Fill missing values in 'Credit Score' and 'Age' with their median values
df['Credit Score'] = df['Credit Score'].fillna(df['Credit Score'].median())
df['Age'] = df['Age'].fillna(df['Age'].median())

# Fill missing 'Estimated Salary' with the median salary, as it may impact analyses
df['Estimated Salary'] = df['Estimated Salary'].fillna(df['Estimated Salary'].median())

# Drop rows where 'Last_Name' or 'Gender' is missing, as these are identity fields
df.dropna(subset=['Last_Name', 'Gender'], inplace=True)

In [9]:
# Display all unique country values
unique_countries = df['Country'].unique()
print("Unique country values:", unique_countries)

Unique country values: ['France' 'Spain' 'Germany' 'FR' 'ES' 'DE']

In [11]:
# Display the frequency of each country value
country_counts = df['Country'].value_counts()
print("Country counts:", country_counts)

Country counts: Country
FR         244
France     236
Germany    234
Spain      135
ES         118
DE          22
Name: count, dtype: int64

In [12]:
# Define mappings based on unique values

country_map = {
    'FR': 'France',
    'ES': 'Spain',
    'DE': 'Germany',
}

#Apply the mapping:
df['Country'] = df['Country'].replace(country_map)

In [13]:
df['Country'].value_counts()

Country
France     480
Germany    256
Spain      253
Name: count, dtype: int64

In [14]:
#Rename colyumns to remove special Charecters and follow consistent naming convention
df.rename(columns={
    'Row_Number': 'RowNumber',
    'Customer_ID': 'CustomerID',
    'Credit Score': 'CreditScore',
    'HasCrCard?': 'HasCreditCard',
    'IsActiveMember': 'IsActiveMember',
    'ExitedFromBank?': 'ExitedFromBank'
}, inplace=True)

In [15]:
# Check for age values below a reasonable threshold (e.g., minimum age of 18)
df.loc[df['Age'] < 18, 'Age'] = df['Age'].median()  # Replace with median age if age < 18

In [16]:
# Drop any duplicate rows based on 'CustomerID'
df.drop_duplicates(subset='CustomerID', keep='first', inplace=True)

In [17]:
# Final data check
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 989 entries, 0 to 990
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   RowNumber         989 non-null    int64
 1   CustomerID        989 non-null    int64
 2   Last_Name         989 non-null    object
 3   CreditScore       989 non-null    float64
 4   Country           989 non-null    object
 5   Gender            989 non-null    object
 6   Age               989 non-null    float64
 7   Tenure            989 non-null    int64
 8   Balance           989 non-null    float64
 9   NumOfProducts     989 non-null    int64
 10  HasCreditCard     989 non-null    int64
 11  IsActiveMember    989 non-null    int64
 12  Estimated Salary  989 non-null    float64
 13  ExitedFromBank    989 non-null    int64
dtypes: float64(4), int64(7), object(3)
memory usage: 115.9+ KB
None

In [19]:
print(df.describe())

        RowNumber    CustomerID  CreditScore         Age      Tenure  \
count  989.000000  9.890000e+02   989.000000  989.000000  989.000000
mean   496.777553  1.569221e+07   648.639535   39.093023    5.071790
std    285.952066  7.226727e+04    98.026551   10.239018    2.928967
min      1.000000  1.556609e+07   376.000000   18.000000    0.000000
25%    250.000000  1.563005e+07   580.000000   32.000000    2.000000
50%    497.000000  1.569267e+07   653.500000   37.000000    5.000000
75%    744.000000  1.575383e+07   721.000000   44.000000    8.000000
max    991.000000  1.581536e+07   850.000000   82.000000   10.000000

             Balance  NumOfProducts  HasCreditCard  IsActiveMember  \
count     989.000000     989.000000     989.000000      989.000000
mean    77996.844247       1.521739       0.705763        0.508595
std     62757.146089       0.573347       0.455929        0.500179
min         0.000000       1.000000       0.000000        0.000000
25%         0.000000       1.000000       0.000000        0.000000
50%     98668.180000       1.000000       1.000000        1.000000
75%    129433.340000       2.000000       1.000000        1.000000
max    213146.200000       4.000000       1.000000        1.000000

       Estimated Salary  ExitedFromBank
count        989.000000      989.000000
mean       98524.962194        0.206269
std        57175.983507        0.404831
min          371.050000        0.000000
25%        48559.190000        0.000000
50%        98368.240000        0.000000
75%       146145.930000        0.000000
max       199725.390000        1.000000

In [20]:
# Export the cleaned dataset

df.to_excel('cleaned_customer_data.xlsx', index = False)

In [21]:
# Separate the dataset into two groups
exited_customers = df[df['ExitedFromBank'] == 1]
retained_customers = df[df['ExitedFromBank'] == 0]

In [23]:
# Calculate descriptive statistics for exited customers
exited_stats = exited_customers.describe()
print("Descriptive Statistics for Customers Who Left:")
print(exited_stats)

Descriptive Statistics for Customers Who Left:
        RowNumber    CustomerID  CreditScore         Age      Tenure  \
count  204.000000  2.040000e+02   204.000000  204.000000  204.000000
mean   493.808824  1.569122e+07   636.595588   45.196078    4.715686
std    291.185885  7.292957e+04    99.632573    9.566505    2.915484
min      1.000000  1.556875e+07   376.000000   22.000000    0.000000
25%    228.750000  1.562854e+07   562.750000   39.000000    2.000000
50%    501.500000  1.569331e+07   643.500000   45.000000    5.000000
75%    748.500000  1.575380e+07   714.250000   51.000000    7.000000
max    990.000000  1.581176e+07   850.000000   69.000000   10.000000

             Balance  NumOfProducts  HasCreditCard  IsActiveMember  \
count     204.000000     204.000000     204.000000      204.000000
mean    90239.218873       1.460784       0.705882        0.299020
std     61352.066625       0.764632       0.456766        0.458955
min         0.000000       1.000000       0.000000        0.000000
25%         0.000000       1.000000       0.000000        0.000000
50%    112433.965000       1.000000       1.000000        0.000000
75%    133713.527500       2.000000       1.000000        1.000000
max    213146.200000       4.000000       1.000000        1.000000

       Estimated Salary  ExitedFromBank
count        204.000000           204.0
mean       97155.204608             1.0
std        59537.153259             0.0
min          417.410000             1.0
25%        44685.167500             1.0
50%       100375.400000             1.0
75%       148291.382500             1.0
max       199725.390000             1.0

In [24]:
# Calculate descriptive statistics for retained customers
retained_stats = retained_customers.describe()
print("\nDescriptive Statistics for Customers Who Stayed:")
print(retained_stats)

Descriptive Statistics for Customers Who Stayed:
        RowNumber    CustomerID  CreditScore         Age      Tenure  \
count  785.000000  7.850000e+02   785.000000  785.000000  785.000000
mean   497.549045  1.569247e+07   651.769427   37.507006    5.164331
std    284.759307  7.213874e+04    97.425421    9.808642    2.927221
min      2.000000  1.556609e+07   411.000000   18.000000    0.000000
25%    257.000000  1.563091e+07   583.000000   31.000000    3.000000
50%    496.000000  1.569246e+07   657.000000   36.000000    5.000000
75%    743.000000  1.575383e+07   723.000000   42.000000    8.000000
max    991.000000  1.581536e+07   850.000000   82.000000   10.000000

             Balance  NumOfProducts  HasCreditCard  IsActiveMember  \
count     785.000000     785.000000     785.000000      785.000000
mean    74815.386382       1.537580       0.705732        0.563057
std     62765.459354       0.511527       0.456003        0.496324
min         0.000000       1.000000       0.000000        0.000000
25%         0.000000       1.000000       0.000000        0.000000
50%     93147.000000       2.000000       1.000000        1.000000
75%    127771.350000       2.000000       1.000000        1.000000
max    197041.800000       3.000000       1.000000        1.000000

       Estimated Salary  ExitedFromBank
count        785.000000           785.0
mean       98880.924675             0.0
std        56579.964324             0.0
min          371.050000             0.0
25%        51219.800000             0.0
50%        98368.240000             0.0
75%       145894.900000             0.0
max       199661.500000             0.0

In [27]:
# Compare mean Credit Score
print("Average Credit Score - Exited:", exited_customers['CreditScore'].mean())
print("Average Credit Score - Retained:", retained_customers['CreditScore'].mean())

Average Credit Score - Exited: 636.5955882352941
Average Credit Score - Retained: 651.7694267515924

In [28]:
# Compare mean Age
print("Average Age - Exited:", exited_customers['Age'].mean())
print("Average Age - Retained:", retained_customers['Age'].mean())

Average Age - Exited: 45.19607843137255
Average Age - Retained: 37.507006369426755

In [29]:
# Compare mean Balance
print("Average Balance - Exited:", exited_customers['Balance'].mean())
print("Average Balance - Retained:", retained_customers['Balance'].mean())

Average Balance - Exited: 90239.21887254901
Average Balance - Retained: 74815.38638216561

In [30]:
# Calculate percentage of active members in each group
active_exited = exited_customers['IsActiveMember'].mean() * 100
active_retained = retained_customers['IsActiveMember'].mean() * 100

print("Percentage of Active Members - Exited:", active_exited, "%")
print("Percentage of Active Members - Retained:", active_retained, "%")

Percentage of Active Members - Exited: 29.901960784313726 %
Percentage of Active Members - Retained: 56.30573248407643 %

In [31]:
# Compare mean NumOfProducts
print("Average Number of Products - Exited:", exited_customers['NumOfProducts'].mean())
print("Average Number of Products - Retained:", retained_customers['NumOfProducts'].mean())

Average Number of Products - Exited: 1.4607843137254901
Average Number of Products - Retained: 1.537579617834395